# Application settings
DEBUG=...
PORT=...

# Database (used by docker-compose)
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...

# Database URL for SQLAlchemy
DATABASE_URL=...

# JWT
JWT_SECRET=...
ACCESS_TOKEN_EXPIRE_HOURS=...
JWT_ALGORITHM=...

SECRET_KEY=...
